//**************** Student View ****************
script(type="text/ng-template" id="studentView.html")
  div.text-center(ng-show="current.viewType === 'edit'")
    div.btn-group
      button.btn.btn-primary(ng-click="changeSeatDim(0,1)") Add row
      button.btn.btn-warning(ng-click="changeSeatDim(0,-1)") Remove row
    div.btn-group
      button.btn.btn-primary(ng-click="changeSeatDim(1,1)") Add column
      button.btn.btn-warning(ng-click="changeSeatDim(1,-1)") Remove column
  table.table.table-bordered.text-center
    tr(ng-repeat='row in current.seats', ng-init="colIndex=$index")
      td(ng-repeat='seat in row' ng-style="{width: 100 / row.length + '%'}", ng-init="rowIndex=$index")
        // actual class view
        div(ng-if="current.viewType === 'seating'")
          div.text-center(ng-if='seat.student !== false')
            h5 {{seat.student.get('num')}} {{seat.student.get('firstName')}} {{seat.student.get('lastName')}}&nbsp; 
              span.badge(ng-show="current.assignment") {{seat.grade}}
            grade-buttons(ng-show="current.assignment", current="current", seat="seat", ordering="{{rowIndex*100 + colIndex}}")
          div(ng-if='seat.student === false')
            p
            br
            p
        // editing class view
        div(ng-if="current.viewType === 'edit'")
          div(ng-if='seat.student !== false')
            div.btn(ng-click="editStudentModal(seat)") {{seat.student.get('num')}} {{seat.student.get('firstName')}} {{seat.student.get('lastName')}}
          div(ng-if='seat.student === false')
            p
            button.btn.btn-info(type="button" ng-click="addStudentModal(seat)") Add student
            p
  div.text-center
    button.btn.btn-danger(type="button" ng-show="current.viewType === 'edit'" ng-click="deleteClass()") Delete this class

//**************** Grade Buttons ****************
script(type="text/ng-template" id="gradeButtons.html")
  div(ng-if="current.manualScores === true")
    input.form-control(type="number", ng-model="seat.grade", ng-Change="enterGrade(seat.grade)", tabindex="{{ordering + 1}}")
  div(ng-if="current.manualScores !== true")
    div.btn-group
      button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
        span.caret
      ul.dropdown-menu
        h6(ng-click="enterGrade(1.75)") 1.75
        h6(ng-click="enterGrade(1.25)") 1.25
        h6(ng-click="enterGrade('0.75')") 0.75
        h6(ng-click="enterGrade(0.5)") 0.5
        h6(ng-click="enterGrade('0.25')") 0.25
        h6(ng-click="enterGrade(0)") 0
        h6(ng-click="enterGrade(null)") clear 
    button.btn.btn-default(ng-click="enterGrade(1)") 1
    button.btn.btn-default(ng-click="enterGrade(1.5)") 1.5
    button.btn.btn-primary(ng-click="enterGrade(2)") 2

//**************** Grade Manual ****************
script(type="text/ng-template" id="gradeManual.html")
