extends layout
block content
    body(ng-controller='MainCtrl')
        nav.navbar.navbar-inverse(role='navigation')
            div.container-fluid
                div.navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                        span.sr-only Toggle nagivation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
                    ul.nav.navbar-nav

                        //****************** Settings dropdown ******************
                        li.dropdown
                            a.navbar-brand.dropdown-toggle(href="#" data-toggle="dropdown") GradingApp
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="#" ng-click="") Settings
                                li
                                    a(href="#" ng-click="showAbout=true") About

                        //****************** Class dropdown ******************
                        li.dropdown
                            a(href="#" ng-show="viewType === 'edit'" ng-click="viewType='seating'") Finish Editing Class
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" ng-show="viewType !== 'edit'") {{currentClass.get('name') || "Choose class"}}
                                b.caret
                            ul.dropdown-menu()
                                li(ng-repeat="classRec in classList")
                                    a(href="#" ng-click="setCurrentClass(classRec)") {{classRec.get('name')}}
                                li.divider
                                li
                                    a(href="#" data-toggle="modal" data-target="#createClassModal") Add Class
                                li
                                    a(href="#" ng-click="viewType='edit'" ng-show="currentClass") Edit Class

                        //****************** Assignments dropdown ******************
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" ng-show="currentClass && viewType !== 'edit'") {{currentAssignment.name || "Choose Assignment"}}
                                b.caret
                            ul.dropdown-menu
                                li(ng-repeat="(key, assignment) in assignmentDict")
                                    a(href="#" ng-click="setAssignment(assignment)") {{assignment.name}}
                                li.divider
                                li
                                    a(href="#" data-toggle="modal" data-target="#addAssignmentModal") Add Assignment
                                li(ng-show="currentAssignment")
                                    a(href="#" data-toggle="modal" data-target="#editAssignmentModal" ng-click="newAssignmentName=currentAssignment.name") Edit Assignment

                        //****************** View dropdown ******************
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" ng-show="studentDict") View 
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="#" ng-click="viewType='seating'") Seating Grid
                                li
                                    a(href="#" ng-click="viewType='lastName'") Sort Last Name
                                li
                                    a(href="#" ng-click="viewType='firstName'") Sort First Name

                        //****************** Other dropdown ******************
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" ng-show="studentDict") Other
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="#" ng-click="randomPick()") Random!
                                li
                                    a(href="#" ng-click="exportDropbox()") Export to Dropbox
                        li(ng-hide="initalized")
                            ul
                                h4 loading 
        div.temporary-alerts
        //***************** About Alert *****************
        div.alert.alert-warning.alert-dismissable.fade.in(ng-show="showAbout")
            div.text-center
                p
                h3 GradingApp - real time grading web-app
                h5 made to facilitate attendance / assigning points for Berkeley Chem 1AL classes
                p
                h5 all student information and grades are stored using the Dropbox Datastore API, and is stored on your personal dropbox account
                h5 I do not store or have access to any of your stored information
                p
                h4 Questions, comments, bugs - please email
                span
                    a(href="mailto:donghyun208@gmail.com") donghyun208@gmail.com
                p
                button.btn.btn-warning(type="button" ng-click="showAbout=false") Close

        //***************** Create Class Alert *****************
        div.alert.alert-info.fade.in(ng-show="initalized && Object.keys(classDict).length === 0")
            div.text-center
                strong You have no classes yet.
                p
                p
                    button.btn.btn-primary(type="button" data-toggle="modal" data-target="#createClassModal") Create new class

        //***************** Add/Edit Students Alert *****************
        div.alert.alert-warning.alert-dismissable.fade.in(ng-show="initalized && students.length === 0 && viewType !== 'edit'")
            div.text-center
                strong You have no students in your class.
                p
                p
                    button.btn.btn-warning(type="button" ng-click="viewType='edit'") Add students

        //***************** ng-directive Modals *****************
        add-class-modal
        add-student-modal
        edit-student-modal
        add-assignment-modal
        edit-assignment-modal

        //***************** Students View *****************
        div.table-responsive.text-center(ng-show="currentClass")
            div(ng-show="viewType === 'edit'")
                div.btn-group
                    button.btn.btn-primary(ng-click="changeSeatDim(0,1)") Add row
                    button.btn.btn(ng-click="changeSeatDim(0,-1)") Remove row
                div.btn-group
                    button.btn.btn-primary(ng-click="changeSeatDim(1,1)") Add column
                    button.btn.btn(ng-click="changeSeatDim(1,-1)") Remove column
            student-view
            button.btn.btn-danger(type="button" ng-show="viewType === 'edit'" ng-click="deleteClass()") Delete this class


        //***************** Alphabetical View *****************
        div.container(ng-show="studentDict && (viewType === 'lastName' || viewType == 'firstName')")
            div(ng-repeat="student in studentDict | orderObjectBy:viewType")
                div.text-center
                    h5(ng-if="viewType === 'lastName'" float="left") {{student.id}} {{student.lastName}}, {{student.firstName}}&nbsp;
                        span.badge(ng-show="student.score") {{student.score}}
                    h5(ng-if="viewType === 'firstName'" float="left") {{student.id}} {{student.firstName}} {{student.lastName}}&nbsp;
                        span.badge(ng-show="student.score") {{student.score}}
                    grade-buttons(student="student" assignment="currentAssignment")
    include directiveTemplates