doctype html
html(lang='en', ng-app='grade')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= title 
    link(rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css' type="text/css")
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='//dropbox.com/static/api/dropbox-datastores-1.0-latest.js')
    script(src='js/ga.js')
    script(src='js/fastclick.js')
    script(src='js/dropstore-ng.js')
    script(src='js/core.js')
    script(src='js/controllers.js')
    script(src='js/directives.js')
    script(src='js/filters.js')
    block content