doctype html
html(lang='en', ng-app='gradeApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title= title 
    link(rel='stylesheet' href='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css' type="text/css")
    //link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='/libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.min.js')
    //script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/libs/bootstrap/js/bootstrap.min.js')
    script(src='js/ui-bootstrap-tpls.min.js')
    script(src='//dropbox.com/static/api/dropbox-datastores-1.0-latest.js')
    script(src='js/fastclick.js')
    script(src='js/dropstore-ng.js')
    script(src='js/filters.js')
    script(src='controllers/AssignmentsCtrl.js')
    script(src='controllers/StudentsCtrl.js')
    script(src='controllers/ClassesCtrl.js')
    script(src='controllers/MainCtrl.js')
    script(src='services/directives.js')
    script(src='core.js')
    block content