doctype html
html(lang='en', ng-app='grade')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        title= title 
        link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')

        script(src='/js/students.js')
        script(src='/js/core.js')
        block content
